/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-default/dist/all.css";
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .content {
    padding: 1em;
  }
  .content h3.title {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 0.5em;
    color: #333;
  }
  .k-dialog .k-window-content {
    padding: 16px 32px;
    font-size: 18px;
  }
  .k-dialog .k-window-content .addImgs {
    width: 22.4em;
    display: inline-block;
    vertical-align: top;
  }
  .k-dialog .k-window-content label.control-label {
    width: 5em;
    display: inline-block;
    text-align: right;
    line-height: 35px;
    position: relative;
  }
  .k-dialog .k-window-content label.control-label:after {
    content: "｜";
  }
  .k-dialog .store {
    width: 1000px;
  }
  .k-dialog .store .form-group {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  .k-switch-container .k-switch-handle {
    width: 1.4em;
    height: 1.4em;
  }
  .k-switch-container .k-switch-handle .k-switch-label-on {
    line-height: 1.4em;
    left: -3.4em;
  }
  .k-switch-container .k-switch-handle .k-switch-label-off {
    line-height: 1.4em;
  }
  .checkChoice {
    margin-left: 100px;
    margin-top: -30px;
  }
  
