<!-- <h3 class="title">一般推播通知</h3> -->
<kendo-grid [kendoGridBinding]="notifications" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [pageable]="true" [resizable]="true" [sortable]="true" (dataStateChange)="onStateChange($event)" (remove)="removeHandler($event)"
    (edit)="editHandler($event)" (add)="addHandler()">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>新增推播</button>
    </ng-template>
    <kendo-grid-column field="Id" title="序號" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="Title" title="標題" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="Message" title="內容" width="35%">
    </kendo-grid-column>
    <kendo-grid-column field="CreateTime" filter="date" title="建立時間" width="8%">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.CreateTime | dateFilter: 'YYYY-MM-DD HH:mm:ss' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ScheduleTime" filter="date" title="預約時間" width="8%">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.ScheduleTime | dateFilter: 'YYYY-MM-DD HH:mm:ss' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="PushTime" filter="date" title="實際時間" width="8%">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.PushTime | dateFilter: 'YYYY-MM-DD HH:mm:ss' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Type" title="推播種類" width="7%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div [ngSwitch]="dataItem.Type">
                <p *ngSwitchCase="0">立即推全部</p>
                <p *ngSwitchCase="1">預約推全部</p>
                <p *ngSwitchCase="2">立即推名單</p>
                <p *ngSwitchCase="3">預約推名單</p>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="State" title="狀態" width="5%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div [ngSwitch]="dataItem.State">
                <p *ngSwitchCase="1">準備中</p>
                <p *ngSwitchCase="2">推播中</p>
                <p *ngSwitchCase="3">已推播</p>
                <p *ngSwitchCase="4">已註銷</p>
                <p *ngSwitchCase="5">失敗</p>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="操作" width="8%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoGridEditCommand>編輯</button>
            <button kendoGridRemoveCommand>刪除</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>

<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>新增推播</kendo-dialog-titlebar>
    <form novalidate [formGroup]="editForm">
        <div *ngIf="isNew" class="form-group">
            <label for="Title" class="control-label">標題</label>
            <input type="text" class="k-textbox" formControlName="Title" />
        </div>
        <div class="form-group">
            <label for="Message" class="control-label">內容</label>
            <textarea rows="4" cols="50" formControlName="Message"></textarea> {{editForm.value.Message.length}}
        </div>
        <div class="form-group" *ngIf="isNew && editForm.value.pushType!='announcement'">
            <label for="Range" class="control-label">推播範圍</label>
            <label>
                <input type="radio" formControlName="Range" value="0">全部</label>
            <label>
                <input type="radio" formControlName="Range" value="1">名單</label>
            <input type="file" *ngIf="editForm.value.Range=='1'" (change)="onFileChange($event)" formControlName="ExcelFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <input type="hidden" formControlName="HiddenExcelFile" />
        </div>
        <div *ngIf="isNew" class="form-group">
            <label for="Way" class="control-label">推播方式</label>
            <label>
                <input type="radio" formControlName="Way" value="0">立即</label>
            <label>
                <input type="radio" formControlName="Way" value="1">預約</label>
            <kendo-datepicker *ngIf="editForm.value.Way=='1'" [format]="'yyyy-MM-dd'" [(ngModel)]="ScheduleTime"
                formControlName="ScheduleTime"></kendo-datepicker>
            <kendo-timepicker *ngIf="editForm.value.Way=='1'" [format]="'HH:mm'" [(ngModel)]="ScheduleTime"
                formControlName="ScheduleTime"></kendo-timepicker>
            <!-- <label>
                <input type="radio" (change)="pushTypeChange('announcement')" formControlName="pushType" value="announcement">不推播(純公告)</label> -->
        </div>
    </form>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog *ngIf="comfirm" (close)="closeComfirmForm()">
    <kendo-dialog-titlebar>提示</kendo-dialog-titlebar>
    <div *ngIf="isNew">確定送出推播？</div>
    <div *ngIf="!isNew">確定修改推播？</div>
    <br> 內容為：{{editForm.value.Message}}
    <div *ngIf="editForm.value.Range=='0' && isNew">範圍為：全部推播</div>
    <div *ngIf="editForm.value.Range=='1' && isNew">範圍為：名單推播</div>
    <div *ngIf="editForm.value.Way=='0' && isNew">方式為：立即推播</div>
    <div *ngIf="editForm.value.Way=='1' && isNew">方式為：預約推播</div>
    <!-- <div *ngIf="editForm.value.pushType=='announcement' || !isNew">類型為：不推播(純公告)</div> -->
    <kendo-dialog-actions>
        <button class="k-button" (click)="onComfirmCancel($event)">取消</button>
        <button class="k-button k-primary" (click)="onComfirmSave($event)">確定</button>
    </kendo-dialog-actions>
</kendo-dialog>